$changeWidth: 750px;
$height: 28px;
@mixin form {
  height: $height;
  //padding: 0 10px auto;
  padding-left: 10px;
  color: rgb(87, 84, 84);
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  &:hover {
    color: black;
    background-color: #e2e6ea;
    border-color: #ced4da;
    cursor: pointer;
  }
}

.findForm {
  position: sticky;
  top: 28px;
  display: flex;
  background: rgb(248, 249, 250);
  padding: 5px 0;
  @media all and (max-width: $changeWidth) {
    display: block;
    .cart {
      display: none;
    }
  }

  > * {
    font-size: 1rem;
    height: $height;
    border-radius: 5px;
    margin-left: auto;
    @media all and (max-width: $changeWidth) {
      width: calc(100% - 20px);
      margin: 10px;
    }
  }

  select {
    @include form;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

}

.hideButton {
  display: flex;
  position: sticky;
  top: 0;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  > button {
    flex: auto;
    padding: 0 20px;
    background: pink;
    border-width: 0;
    border-radius: 10px;
    color: white;
    height: 28px;
  }

  @media all and (min-width: $changeWidth) {
    display: none;
  }
}

.cart {
  background: orange;
  padding: 0 10px;
  border-radius: 20px;
  margin: 0 auto;

  img {
    margin-top: 2px;
    width: 20px;
    height: 20px;
  }

}

.submitFindFormDiv {
  margin: 0 auto;
}

.priceButton {
  @include form;
  text-align: left;
  font-size: 1em;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.submitButton {
  padding: 0 20px;
  background: pink;
  border-width: 0;
  border-radius: 20px;
  color: white;
  height: $height;
}

.popup {
  background: white;
  display: flex;
  position: absolute;
  bottom: -130px;
  right: -40px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  min-width: 140px;
  padding: 10px;
  @media all and (max-width: $changeWidth) {
    bottom: 0.5vh;
    right: 0;
  }
}


.popupContainer {
  position: relative;
  width: 115px;
  @media all and (max-width: $changeWidth) {
    position: static;
    width: calc(100% - 20px);
  }
  button{
    width: 100%;
  }
}

