.shop{
    width: 100%;
}
.shop:after{
    content: "";
    clear: both;
    display: table;
}

.shop img{
    /*min-width: 250px;*/
    height: auto;
    width: 100%;
}
.product{
    max-width: 23%;
    min-width: 250px;
    margin: 10px;
    float: left;
    @media (max-width: 500px){
        min-width: 100%;
    }
}