.footer {
  background: #ced4da;
margin: 10px;

  a {
    text-decoration: none;
    color: black;
  }
  li{
    list-style-type:none;
  }

  .firstPart{
    .menu {
      float:left;
      width: 40%;
    }
    .help{
      float:left;
      width: 40%;
    }

  }
}

